

.snackbar-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.snackbar {
  min-width: 250px;
  padding: 14px 18px;
  border-radius: 6px;
  color: white;
  // display: flex;
  // justify-content: space-between;
  align-items: center;
  // animation: slideIn 0.3s ease;
}

.snackbar .message {
  display: flex;
  flex-direction: column;
}

.snackbar .message .text {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}
.snackbar .time {
  font-size: 0.75rem;
  opacity: 0.8;
  margin-top: 2px;
   font-size: 10px;
}
.success { background: #2ecc71; color: rgb(250, 250, 250);}
.error { background: #e74c3c; color: white;}
.warning { background: #f39c12; color: white;}
.notification { background: #3498db; color: white;}
.processing { background: #9b59b6; color: white;}
.delete { background: #c0392b; color: white;}
.generic { background: #34495e; }
.save { background: #27ae60; }

.actions {
  display: flex;
  gap: 8px;
  margin-top: 6px;
}

.actions button {
  border: none;
  background: transparent;
  color:black;
  cursor: pointer;
  font-weight: bold;
 
}
.snackbar .message .title{
  // background-color: rgb(218, 214, 11);
  color: black;
  font-weight: bold;
  font-size: 16px;
}