<div class="dashboard-container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <div class="logo">
      <img src="logo.png" alt="logo" />
    </div>

    <ul class="menu">
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li><a routerLink="/dashboard/tasks" routerLinkActive="active">Tasks</a></li>
      <li><a routerLink="/dashboard/patient" routerLinkActive="active">Patients</a></li>
      <li><a>Timesheets</a></li>
      <li><a>Settings</a></li>
    </ul>
  </nav>

  <!-- Right Content -->
  <div class="right-container">
    <!-- Header -->
    <header class="header">
      <div class="breadcrumb">
        @for (bc of breadcrumbs; track $index; let last = $last) {
          {{ bc }}
          @if (!last) {
            <span> &lt; </span>
          }
        }
      </div>

      <div class="header-right">
        <cats-ui-search-box
          [searchConfig]="searchConfig"
          (searchParamValue)="onSearch($event)"
          class="search-box"
        >
        </cats-ui-search-box>

        <div class="header-icons">
          <img src="vector.png" />
          <img src="notification.png" />
          <img src="avtar.png" class="avatar" />
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="content">
      <div class="tasks-header">
        <h3>{{ breadcrumbs[breadcrumbs.length - 1] }}</h3>

        @if (!isTaskDetailRoute) {
          <div class="task-controls">
            <!-- Ye sirf historical page par dikhenge -->
            @if (isHistoricalRoute) {
              <cats-ui-single-select
                [optionList]="status"
                [singleSelectConfig]="statusConfig"
                (onSelection)="onStatusSelection($event)"
              >
              </cats-ui-single-select>

              <cats-ui-single-select
                [optionList]="taskType"
                [singleSelectConfig]="taskConfig"
                (onSelection)="onTaskTypeSelection($event)"
              >
              </cats-ui-single-select>

              <cats-ui-single-select
                [optionList]="priority"
                [singleSelectConfig]="priorityConfig"
                (onSelection)="onPrioritySelection($event)"
              >
              </cats-ui-single-select>
            }

            <!-- Ye hamesha dikhega -->
            <cats-ui-single-select
              [optionList]="options"
              [singleSelectConfig]="singleConfig"
              (onSelection)="onInputSelectiontext($event)"
            >
            </cats-ui-single-select>
@if (!isPatientComponentRoute) {
               <cats-ui-single-select
              [optionList]="practices"
              [singleSelectConfig]="singleConfig"
              (onSelection)="onInputSelectiontext($event)"
            >
            </cats-ui-single-select>
            }

            <!-- Button sirf tasks page par dikhe -->
            @if (!isHistoricalRoute) {
              <button class="history-btn" routerLink="/dashboard/hcp-historical">
                View Historical Tasks
              </button>
            }
          </div>
        }
      </div>

      <div class="table-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
